<h1>Listing offices</h1>
 
<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @offices.each do |office| %>
    <tr>
      <td><%= office.name %></td>
      <td><%= link_to 'Show', office_path(office) %></td>
      <td><%= link_to 'Edit', edit_office_path(office) %></td>
      <td><%= button_to 'Destroy', office_path(office),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
