<h1>Welcome#index</h1>
<p>Inicio para archivo tutoria</p>

<%= link_to 'Offices', controller: 'offices' %>

<%= link_to 'People', controller: 'people' %>

<%= link_to 'FileRecords', controller: 'file_records' %>

